:root {
  --main-text-color: #FF00FF ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--main-text-color) ;
}

body {
  font-size: 2rem;
  /* background: center/cover url('https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=893&q=80') no-repeat; */
  background-color: hsl(28, 79%, 96%);
}

.App {
  min-height: 100vh;

}

/* -------Nav Bar------------ */

.navbar {
  height: 6rem;
  /* background-color: rgba(51, 51, 51, 0.4); */
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navlist {
  /* padding-top: 1rem; */
  list-style: none;
  display: flex;
  gap: 1.6rem;

}

a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: inherit;
  padding: 0.4rem 0.4rem;
}

nav a:hover {
  /* color: #333; */
  /* background-color: #fff;
  border-radius: 5px; */
  border-top: 1px solid var(--main-text-color);
  border-bottom: 1px solid var(--main-text-color);
  /* border-style: inset; */
}

nav .active {
  /* text-decoration: overline white; */
  border-top: 1px solid var(--main-text-color);
  /* border-top: 2px solid white; */
  pointer-events: none;
}


/* ------------ Home Page --------------- */


.home-container {
  padding-top: 4rem;
  margin-left: 2rem;
  height: 100vh;
  width: 100vw;
  color: black;
  font-size: 18vw;
  font-weight: 700;
  
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.home-text {
  background: linear-gradient(180deg,rgba(255,255,255,0) 70%, yellow 70%);
}

.home-link {
  transform: translateX(.2em) scale(1.5);
  font-size: inherit;
  transition: all 0.3s ease;

  color: #FF00FF;
}

.home-link:hover {
  /* text-shadow: 1px 3px yellow; */
  transform: translate(45px,-15px) scale(1.8);
  /* color: white; */
  /* transform:  */
}



/* -------- Photo Component --------- */

/* .data-container {
  max-width: 96rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo-container {
  flex: 1;
  max-width: 49rem;
}



.data-text{
  font-size: 1.6rem;
  flex: 1;
}

.data-text h1 {
  font-size: 2.6rem;
  font-weight: 400;
} */

.data-container {
  width: 70%;
  margin: 2rem auto;
  border: 5px solid var(--main-text-color);
  /* border-top: 10px solid white; */
}

.photo {
  max-width: 100%;
}

.element {
  align-items: center;
  background-color: #afd275;
  border-radius: 50px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-right: 4rem;
  width: 200px;
}

.element-1 {
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

@media (min-width: 960px) {
  .home-container {
    font-size: 17rem;
  }
}