:root {
  --main-text-color: #0000CD ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--main-text-color) ;
}

body {
  font-size: 2rem;
  background-color: #ADD8E6;
}

.App {
  min-height: 100vh;
}

/* -------Nav Bar------------ */

.navbar {
  height: 6rem;
  /* background-color: rgba(51, 51, 51, 0.4); */
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navlist {
  /* padding-top: 1rem; */
  list-style: none;
  display: flex;
  gap: 1.6rem;

}

nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: inherit;
  padding: 0.4rem 0.4rem;
  transition: all 0.3s ease;
}

nav a:hover {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, yellow 50%);
}

nav .active {
  pointer-events: none;
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, yellow 50%);
}



/* ------------ Home Page --------------- */


.home-container {
  padding-top: 4rem;
  margin-left: 2rem;
  height: 100vh;
  width: 100vw;
  color: black;
  font-size: 18vw;
  font-weight: 700;
  
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}

.home-text {
  background: linear-gradient(180deg,rgba(255,255,255,0) 70%, yellow 70%);
}

.home-link {
  display: inline-block;
  transform: translateX(0.5em) scale(1.5);
  font-size: inherit;
  transition: all 0.3s ease;
  color: #C71585;
  text-decoration: none;
  /* transform: scale(2); */
}

.home-link:hover {
  /* text-shadow: 1px 3px yellow; */
  transform: translate(0.6em,-15px) scale(1.8);
}



/* -------- Photo Component --------- */

.data-container {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
}

.data-photo {
  min-width: 50%;
  /* display: flex; */
  
}

.photo {
  max-height: 400px;
  /* object-fit: cover; */
  box-shadow: 10px 10px #C71585;
  
}

.data-text {
  /* width: 50%; */
  padding: 1rem;
}

.data-text h1 {
  font-size: 2.2rem;
  /* background-color: yellow; */
}

.data-text p {
  font-size: 1.6rem;
}

@media (min-width: 960px) {
  .home-container {
    font-size: 17rem;
  }
}